---
import HeaderLink from "./HeaderLink.astro";
import Logo from "@/assets/favicon.svg";
import { Icon } from "astro-icon/components";
import { Menu, X } from "@lucide/astro";
import { Image } from "astro:assets";
import { ThemeToggleButton } from "../theme";

const navLinks = [
  { name: "Inicio", path: "/" },
  { name: "Blog", path: "/blog" },
  { name: "Vídeos", path: "/videos" },
  { name: "Proyectos", path: "/productos" },
  { name: "Sobre mí", path: "/sobre-mi" },
];
---

<header class="sticky top-0 z-1000">
  <nav
    class="bg-white/80 dark:bg-slate-950/80 backdrop-blur-md border-b border-slate-200 dark:border-slate-800"
  >
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex items-center">
          <a href="/" class="shrink-0 flex items-center gap-2 group">
            <Image
              src={Logo}
              alt="Logo CoreX4Dev"
              loading="eager"
              class="w-8 h-8 group-hover:rotate-12 transition-transform"
            />
            <span
              class="font-bold text-xl tracking-tight  dark:text-white"
              >CoreX4Dev</span
            >
          </a>
        </div>

        {/* Desktop Links */}
        <div class="hidden md:flex items-center space-x-8">
          {
            navLinks.map((link) => (
              <HeaderLink
                href={link.path}
                class="transition-colors px-1 py-4 text-sm font-medium"
              >
                {link.name}
              </HeaderLink>
            ))
          }
          <div class="flex items-center space-x-4">
            <a
              href="https://youtube.com/@CoreX4Dev"
              target="_blank"
              class="text-slate-400 hover:text-red-600 transition-colors"
              aria-label="Enlace a YouTube"
            >
              <Icon name="fa7-brands:youtube" class="w-7 h-7" />
            </a>
            <a
              href="https://github.com/corex4dev"
              target="_blank"
              class="text-slate-400 hover: dark:hover:text-white transition-colors"
              aria-label="Enlace a Github"
            >
              <Icon name="fa7-brands:github" class="w-7 h-7" />
            </a>
            <div class="text-slate-400">
              <ThemeToggleButton />
            </div>
          </div>
        </div>

        {/* Mobile Menu Button */}
        <div class="md:hidden flex items-center">
          <div class="me-2">
            <ThemeToggleButton />
          </div>
          <button
            id="navToggle"
            aria-controls="navMenu"
            aria-expanded="false"
            class="text-slate-600 dark:text-slate-400 hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors"
          >
            <!-- Hamburger -->
            <span id="iconOpen">
              <Menu size={24} />
            </span>

            <!-- Close (X) -->
            <span id="iconClose" class="hidden">
              <X size={24} />
            </span>
          </button>
        </div>
      </div>
    </div>

    {/* Mobile Menu */}
    <div
      id="navMenu"
      class="md:hidden border-b border-slate-200 dark:border-slate-800 hidden transition-all duration-200 ease-out overflow-hidden w-full"
    >
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        {
          navLinks.map((link) => (
            <HeaderLink
              href={link.path}
              class="block px-3 py-2 text-base font-medium"
            >
              {link.name}
            </HeaderLink>
          ))
        }
      </div>
    </div>
  </nav>
</header>

<script>
  const toggle = document.getElementById("navToggle");
  const menu = document.getElementById("navMenu");
  const iconOpen = document.getElementById("iconOpen");
  const iconClose = document.getElementById("iconClose");

  if (toggle && menu) {
    const closeMenu = () => {
      menu.classList.remove("open-menu");
      menu.classList.add("hidden");
      iconOpen?.classList.remove("hidden");
      iconClose?.classList.add("hidden");
      toggle.setAttribute("aria-expanded", "false");
    };

    const openMenu = () => {
      menu.classList.add("open-menu");
      menu.classList.remove("hidden");
      iconOpen?.classList.add("hidden");
      iconClose?.classList.remove("hidden");
      toggle.setAttribute("aria-expanded", "true");
    };

    toggle.addEventListener("click", (e) => {
      e.stopPropagation();
      const isOpen = !menu.classList.contains("hidden");
      isOpen ? closeMenu() : openMenu();
    });

    // cerrar al hacer click fuera
    document.addEventListener("click", (e) => {
      const clickInsideMenu = menu.contains(e.target as Node);
      const clickOnToggle = toggle.contains(e.target as Node);

      if (!clickInsideMenu && !clickOnToggle) {
        if (!menu.classList.contains("hidden")) {
          closeMenu();
        }
      }
    });

    // cerrar al clicar links
    menu.querySelectorAll("a").forEach((link) => {
      link.addEventListener("click", closeMenu);
    });

    // ESC
    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") closeMenu();
    });

    // cerrar al pasar a desktop
    const mdBreakpoint = window.matchMedia("(min-width: 768px)");
    mdBreakpoint.addEventListener("change", (e) => {
      if (e.matches) closeMenu();
    });
  }
</script>
