---
import { getEntries } from "astro:content";

interface Props {
  relatadSlugs: string[];
}

const { relatadSlugs } = Astro.props;

const related = await getEntries(
  relatadSlugs.map((r) => ({ collection: "blog", id: r })),
);
---

{
  related.map((rp) => (
    <a
      href={`/blog/${rp.id}`}
      class="group block rounded-2xl border card p-0! overflow-hidden hover:shadow-lg transition-all"
    >
      <div
        class="aspect-video overflow-hidden"
        transition:name={`post-${rp.id}-image`}
      >
        <img
          src={rp.data.image}
          alt={rp.data.title}
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
        />
      </div>
      <div class="p-4">
        <span class="text-[10px] font-black tracking-widest text-indigo-600 dark:text-indigo-400 mb-2 block truncate">
          {rp.data.categories.join(" - ")}
        </span>
        <h4 class="font-bold text-sm line-clamp-2 group-hover:text-indigo-600 dark:hover:text-indigo-400">
          {rp.data.title}
        </h4>
      </div>
    </a>
  ))
}
