---
import { getBreadcrumbSchema } from "@/utils/jsonld";
import WebsiteLayout from "./WebsiteLayout.astro";
import JsonLd from "@/components/layout/JsonLd.astro";
import type { CollectionEntry } from "astro:content";
import Controls from "@/components/blog/Controls.astro";
import PostCard from "@/components/blog/PostCard.astro";

interface Props {
  category?: string;
  posts: CollectionEntry<"blog">[];
}

const { category, posts } = Astro.props;

const breadcrumbs = [
  { name: "Inicio", item: "/" },
  { name: "Blog", item: "/blog" },
];

if (category) {
  breadcrumbs.push(
    { name: "Blog Categorías", item: "/blog/categoria" },
    { name: `Blog Categoría ${category}`, item: `/blog/categoria/${category}` },
  );
}

const breadcrumbSchema = getBreadcrumbSchema(breadcrumbs);
---

<WebsiteLayout seoProps={{ title: "Blog de Desarrollo Web" }}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 md:py-16">
    <header class="mb-16">
      <h1
        class="text-4xl lg:text-5xl font-extrabold text-slate-900 mb-6 tracking-tight"
      >
        Blog de Desarrollo
      </h1>
      <p class="text-xl text-slate-600 max-w-3xl">
        Tutoriales detallados, comparativas de herramientas y experiencias
        reales escalando aplicaciones web.
      </p>
    </header>

    <Controls selectedCategory={category} />

    {/* Posts Count info */}
    <div class="mb-8 text-sm text-slate-500 font-medium">
      <div id="postsCountInfo"></div>
    </div>

    {/* Posts Grid */}
    <div
      id="posts"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10"
    >
      {posts.map((post) => <PostCard post={post} />)}

      <div
        id="emptyStatePosts"
        class="col-span-full text-center py-20 px-8 bg-slate-50 rounded-[3rem] border-2 border-dashed border-slate-200 hidden"
      >
        <p class="text-slate-500 text-lg">
          No encontramos artículos que coincidan con tu búsqueda.
        </p>
        <button
          id="clearEmptySearch"
          class="mt-4 text-red-600 font-bold hover:underline transition-all"
          >Ver todos los posts</button
        >
      </div>
    </div>

    <div class="mt-16 flex justify-center items-center gap-4" id="pagination">
    </div>
  </div>

  <script is:inline src="/js/blog-page.js"></script>

  <JsonLd schema={breadcrumbSchema} />
</WebsiteLayout>
